---
---

<section class="py-20" id="custom-themes" class:list={Astro.props.class}>
    <div class="flex flex-col gap-10 max-w-7xl mx-auto w-full">
        <div class="space-y-4 px-6 lg:px-8">
            <h2 class="text-base font-semibold leading-7 text-primary capitalize">
                Benefits
            </h2>
            <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl capitalize">
                Save tons of <span class="text-primary">time</span> and <span class="text-primary">money</span>
            </p>
            <p class="mt-6 text-lg leading-8">
                Avoid the hassle of building an email template builder from scratch. Instead, take advantage of the base theme for creating your custom email template builder. The <span class="text-primary">pre-built themes are also at your disposal</span> for a quick and efficient start.
            </p>
            <div class="flex flex-col gap-6"></div>
        </div>
    </div>
</section>
