---
import Link from "./Link.astro";
import Primeng from "./icons/Primeng.astro";
import Tailwind from "./icons/Tailwind.astro";
import Material from "./icons/Material.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Bulma from "./icons/Bulma.astro";
---

<section class="py-20" class:list={Astro.props.class}>
    <div class="flex flex-col gap-10 max-w-7xl mx-auto w-full px-6 lg:px-8">
        <h2 class="text-3xl md:text-4xl font-bold capitalize">
            Ready for Your <span class="text-primary">Custom Theme?</span>
        </h2>
        <div class="flex flex-col w-full border-opacity-50 gap-6">
            <p class="text-lg md:text-xl">
                Follow the instructions from the
                <Link class="link-primary" href="/guides/getting-started">documentation</Link>
                to get started with your custom theme.
            </p>
            <div class="divider divider-start">OR</div>
            <div class="flex gap-14 flex-col md:flex-row flex-wrap md:items-center">
                <h3 class="text-lg md:text-xl">Choose a pre-built theme:</h3>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-y-14 md:gap-x-14">
                    <a href="/tailwind" class="btn btn-circle btn-link btn-lg tooltip text-[#06B6D4]"
                       data-tip="Tailwind theme (included in main repo)">
                        <Tailwind/>
                    </a>
                    <a href="/bootstrap" class="btn btn-circle btn-link btn-lg tooltip text-[#7952B3]"
                       data-tip="Bootstrap theme">
                        <Bootstrap/>
                    </a>
                    <a href="/material" class="btn btn-circle btn-link btn-lg tooltip text-[#757575]"
                       data-tip="Material theme">
                        <Material/>
                    </a>
                    <a href="/bulma" class="btn btn-circle btn-link btn-lg tooltip text-[#00D1B2]"
                       data-tip="Bulma theme">
                        <Bulma/>
                    </a>
                    <a href="/primeng" class="btn btn-circle btn-link md:btn-lg tooltip"
                       data-tip="Primeng theme">
                        <Primeng/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
