---
import {Image} from "astro:assets"
import {SITE_DATA} from "../consts";
import logo from '@/static/logo-260-white.png';
---

<header class="bg-primary text-primary-content sticky top-0 z-10 shadow-md">
    <div class="navbar max-w-7xl mx-auto w-full">
        <div class="navbar-start">
            <nav class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-primary rounded-box w-52">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#custom-themes">Custom Themes</a>
                        <ul class="p-2">
                            <li><a href="/bootstrap">Bootstrap Theme</a></li>
                            <li><a href="/tailwind">Tailwind Theme</a></li>
                            <li><a href="/material">Material Theme</a></li>
                            <li><a href="/bulma">Bulma Theme</a></li>
                            <li><a href="/primeng">PrimeNG Theme</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#blocks">Blocks</a>
                    </li>
                    <li>
                        <a href="#email-templates">Email Templates</a>
                    </li>
                    <li>
                        <a href="#how-it-works">How It Works</a>
                    </li>
                    <li>
                        <a href="/guides">Guides</a>
                    </li>
                </ul>
            </nav>
            <a href="/">
                <Image alt="Logo" class="h-10 w-auto" widths={[80, 160]} src={logo} loading="eager"/>
            </a>
        </div>
        <nav class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#blocks">Blocks</a>
                </li>
                <li>
                    <details>
                        <summary>
                            Custom Themes
                        </summary>
                        <ul class="p-2 bg-primary rounded-t-none">
                            <li><a href="/bootstrap">Bootstrap</a></li>
                            <li><a href="/tailwind">Tailwind</a></li>
                            <li><a href="/material">Material</a></li>
                            <li><a href="/bulma">Bulma</a></li>
                            <li><a href="/primeng">PrimeNG</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <a href="#email-templates">Email Templates</a>
                </li>
                <li>
                    <a href="#how-it-works">How It Works</a>
                </li>
                <li>
                    <a href="/guides">Guides</a>
                </li>
            </ul>
        </nav>
        <div class="navbar-end">
            <a class="text-sm font-semibold leading-6" href={SITE_DATA.discordUrl} target="_blank">
                Join the community →
            </a>
        </div>
    </div>
</header>
