---
import type {HTMLAttributes} from "astro/types";

type Props = HTMLAttributes<'a'>

let {href, ...rest} = Astro.props;

const isInternalLink = href?.toString().startsWith('/')
const isAnchorLink = href?.toString().startsWith('#')

if (!isInternalLink && !isAnchorLink && href) {
    href = new URL(href);
    href.searchParams.append('ref', Astro.site);
}

---

{
    (isInternalLink || isAnchorLink) ?
    <a href={href} {...rest} class="link link-hover">
        <slot/>
    </a> :
    <a target="_blank" rel="noopener noreferrer" href={href} {...rest} class="link link-hover">
        <slot/>
    </a>
    }
